#app {
  max-width: 600px;
  margin: 0 auto;
}

.blank-box {
  border: 3px solid #949495;
  padding: 1.2em 1em;
  margin: 1em 2%;
  border-radius: 4px;
}

.reset-animation {
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  line-height: normal;
  padding: 10px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  border: 2px solid transparent;
  position: relative;
  background-color: #2ca9e1;
}
